*{
    margin: 0px;
    padding: 0px;
}
label{
    font-size: 20px;
}

.input{
margin-left: 30px;
margin-bottom: 20px;
padding-top: 4px;
padding-bottom: 4px;
width: 200px;
padding-left: 10px;
}

.input:focus{
    outline-color: rgb(82, 89, 95);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}


.myForm{
     width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
   
}
.myDiv{
    padding: 100px;
}

button{
    padding: 8px 20px;
    background-color: black ;
    border: none;
    border-radius: 3px;
    color: white;
    text-transform: uppercase;
    
}
button:hover{
    opacity: 0.7;
    transition: color 0.5s ease;
}